<!DOCTYPE html>
<html>
<head>
  <title>Product Review</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container">
  <%= flash[:alert] %>
  <%= flash[:notice] %>
  <%= flash[:error] %>
  <%= yield %>
  </div>
</body>
</html>